In [1]:
from datasets import load_dataset
import random
import pandas as pd
from transformers import AutoTokenizer
import pandas as pd
import re
from nltk.corpus import stopwords
import json
import os

c:\Users\B6313\miniconda3\envs\wiki_cls\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
import pandas as pd

#pd.set_option('display.max_rows', 1000)  # 최대 1000개 행 출력 허용
pd.set_option('display.max_colwidth', None)

In [3]:
def get_frequent_words(df, dataname, min_count=10, language='english'):
    if dataname == 'sql':
        text_col='query'
    else: 
        text_col='question'
    stop_words = set(stopwords.words(language))

    # 모든 문장을 하나로 합친 뒤 소문자 변환 + 특수문자 제거
    text = ' '.join(df[text_col]).lower()
    text = re.sub(r'[^\w\s]', '', text)  # 특수문자 제거

    # 토큰화 후 불용어 제거
    words = [word for word in text.split() if word not in stop_words]

    # 단어 개수 세기
    word_counts = pd.Series(words).value_counts()
    return word_counts[word_counts >= min_count]

In [4]:
import re

def annotate_question(question):
    q_lower = question.lower()

    # 일반적인 'lookup' 조건 
    if re.search(r'\b(which|what|who|name)\b', q_lower):
        return 'Lookup'
    
    # WikiTQ 데이터셋에서 추가된
    # 'where'과 'first'가 동시에 있을 때
    if 'when' in q_lower and 'first' in q_lower:
        return 'Lookup'
    
    if re.search(r'\b(where)\b', q_lower):
        return 'Lookup'

    # 일반적인 'Aggregation' 조건 
    if re.search(r'\bhow many\b', q_lower) or \
       re.search(r'\b(total|sum|count|average)\b', q_lower):
        return 'Aggregation'
    
    # WikiTQ 데이터셋에서 추가된 Aggregation 조건 
    if re.search(r'\b(highest|lowest|most|least|fastest|slowest|largest|fewest)\b', q_lower):
        return 'Aggregation'
    
    if re.search(r'\bnumber of\b', q_lower):
        return 'Aggregation'
    
    if re.search(r'\b(is|were|was|does|did)\b', q_lower):
        return 'Aggregation'
    
    if re.search(r'\bmore or less\b', q_lower):
        return 'Aggregation'
    
    return 'Other'

In [5]:
# Load Datasets
datasets = load_dataset("wikitablequestions", trust_remote_code=True)

In [6]:
train = pd.DataFrame(datasets['train'])
val = pd.DataFrame(datasets['validation'])
test = pd.DataFrame(datasets['test'])

In [7]:
print(len(train))
print(len(test))
print(len(val))

11321
4344
2831

In [8]:
tokenizer = AutoTokenizer.from_pretrained("neulab/omnitab-large")

# 결과 저장용 딕셔너리
results = {}
over_1024 = {}   
under_1024 = {}

# 각 데이터셋(train, test, validation)에 대해 처리
for split in ["train", "test", "validation"]:
    data = datasets[split]

    # 각 테이블의 토큰 개수 계산
    token_counts = []
    under_1024[split] = []
    over_1024[split] = []  # split별 리스트 초기화

    for sample in data:
        table = sample["table"]  # 테이블 데이터 가져오기

        # Pandas DataFrame 변환
        df_table = pd.DataFrame(table["rows"], columns=table["header"])

        # TAPEX(OmniTab)는 DataFrame과 질문을 함께 입력받아야 함
        tokenized = tokenizer(table=df_table, query=sample["question"], truncation=False)

        # input_ids가 리스트인지 확인 후 길이 측정
        token_count = len(tokenized["input_ids"]) if isinstance(tokenized["input_ids"], list) else tokenized["input_ids"]
        token_counts.append(token_count)

        # 1024 초과인 경우 저장
        if token_count > 1024:
            over_1024[split].append(sample)
        else: 
            under_1024[split].append(sample)

Token indices sequence length is longer than the specified maximum sequence length for this model (1381 > 1024). Running this sequence through the model will result in indexing errors

KeyboardInterrupt:

In [ ]:
print({k: len(v) for k, v in over_1024.items()})
print({k: len(v) for k, v in under_1024.items()})

{'train': 1987, 'test': 607, 'validation': 496}
{'train': 9334, 'test': 3737, 'validation': 2335}

In [ ]:
random.seed(42)
over_train = random.sample(over_1024['train'], 1000)

In [10]:
output_dir = 'C:/Users/B6313/BERT-AGG-MODEL/wikiTQ_json'
os.makedirs(output_dir, exist_ok=True)

In [ ]:
for split in ['train', 'validation', 'test']:
    # over_1024 저장
    over_path = os.path.join(output_dir, f'over_{split}.json')
    with open(over_path, 'w', encoding='utf-8') as f:
        json.dump(over_1024[split], f, ensure_ascii=False, indent=2)

    # under_1024 저장
    under_path = os.path.join(output_dir, f'under_{split}.json')
    with open(under_path, 'w', encoding='utf-8') as f:
        json.dump(under_1024[split], f, ensure_ascii=False, indent=2)

In [11]:
over_1024 ={}
under_1024 = {}

over_1024_df = {}
under_1024_df = {}

for split in ['train', 'validation', 'test']:
    # over_1024 불러오기
    over_path = os.path.join(output_dir, f'over_{split}.json')
    with open(over_path, 'r', encoding='utf-8') as f:
        over_1024[split] = json.load(f)
        over_1024_df[split] = pd.DataFrame(over_1024[split])
    
    # under_1024 불러오기
    under_path = os.path.join(output_dir, f'under_{split}.json')
    with open(under_path, 'r', encoding='utf-8') as f:
        under_1024[split] = json.load(f)
        under_1024_df[split] = pd.DataFrame(under_1024[split])

In [12]:
for split in ['train', 'validation', 'test']:
    under_1024_df[split]['annotation'] = under_1024_df[split]['question'].apply(annotate_question)

for split in ['train', 'validation', 'test']:
    print(f"[under_1024] {split}: \n{under_1024_df[split]['annotation'].value_counts()}")

[under_1024] train:
annotation
Lookup         5917
Aggregation    3235
Other           182
Name: count, dtype: int64
[under_1024] validation:
annotation
Lookup         1454
Aggregation     813
Other            68
Name: count, dtype: int64
[under_1024] test:
annotation
Lookup         2328
Aggregation    1319
Other            90
Name: count, dtype: int64

In [24]:
for split in ['train', 'validation', 'test']:
    over_1024_df[split]['annotation'] = over_1024_df[split]['question'].apply(annotate_question)

for split in ['train', 'validation', 'test']:
    print(f"[over_1024_df] {split}: \n{over_1024_df[split]['annotation'].value_counts()}")

[over_1024_df] train:
annotation
Lookup         1265
Aggregation     676
Other            46
Name: count, dtype: int64
[over_1024_df] validation:
annotation
Lookup         336
Aggregation    156
Other            4
Name: count, dtype: int64
[over_1024_df] test:
annotation
Lookup         363
Aggregation    226
Other           18
Name: count, dtype: int64

In [21]:
under_1024_df['test'][['table', 'question', 'annotation']][:10]

,table,question,annotation
0,"{'header': ['Rank', 'Cyclist', 'Team', 'Time',...",which country had the most cyclists finish wit...,Lookup
1,"{'header': ['Description Losses', '1939/40', '...",how many people were murdered in 1940/41?,Aggregation
2,"{'header': ['Year', 'Division', 'League', 'Reg...",how long did it take for the new york american...,Aggregation
3,"{'header': ['Series #', 'Season #', 'Title', '...",alfie's birthday party aired on january 19. wh...,Lookup
4,"{'header': ['Date', 'Competition', 'Location',...",what is the number of 1st place finishes acros...,Lookup
5,"{'header': ['Year', 'Competition', 'Venue', 'P...",in which competition did hopley finish fist?,Lookup
6,"{'header': ['Year', 'Film', 'Role', 'Language'...",what is the total number of films with the lan...,Lookup
7,"{'header': ['Game', 'Day', 'Date', 'Kickoff', ...",what was the number of people attending the to...,Lookup
8,"{'header': ['Year', 'Kit Manufacturer', 'Shirt...",what time period had no shirt sponsor?,Lookup
9,"{'header': ['Year', 'Competition', 'Venue', 'P...",when was his first 1st place record?,Aggregation

In [38]:
# under_1024_df['train'][under_1024_df['train']['annotation'].str.contains('Other', case=False, na=False)][10:]

In [26]:
filtered_under_1024_df = {}

for split in ['train', 'validation', 'test']:
    df = under_1024_df[split]
    filtered_under_1024_df[split] = df[df['annotation'].isin(['Lookup', 'Aggregation'])]

for split in ['train', 'validation', 'test']:
    print(f"[filtered_under_1024_df] {split}: \n{filtered_under_1024_df[split]['annotation'].value_counts()}")

[filtered_under_1024_df] train:
annotation
Lookup         5917
Aggregation    3235
Name: count, dtype: int64
[filtered_under_1024_df] validation:
annotation
Lookup         1454
Aggregation     813
Name: count, dtype: int64
[filtered_under_1024_df] test:
annotation
Lookup         2328
Aggregation    1319
Name: count, dtype: int64

In [27]:
filtered_over_1024_df = {}

for split in ['train', 'validation', 'test']:
    df1 = over_1024_df[split]
    filtered_over_1024_df[split] = df1[df1['annotation'].isin(['Lookup', 'Aggregation'])]

for split in ['train', 'validation', 'test']:
    print(f"[filtered_over_1024_df] {split}: \n{filtered_over_1024_df[split]['annotation'].value_counts()}")

[filtered_over_1024_df] train:
annotation
Lookup         1265
Aggregation     676
Name: count, dtype: int64
[filtered_over_1024_df] validation:
annotation
Lookup         336
Aggregation    156
Name: count, dtype: int64
[filtered_over_1024_df] test:
annotation
Lookup         363
Aggregation    226
Name: count, dtype: int64

---

1. 라벨 None을 'annotation'열에서 Lookup으로 바꾸기
2. Lookup을 제외한 나머지 라벨은 'annotation'열에서 Aggregation으로 바꾸기
3. 개수 차이나는지 확인해보기

In [14]:
wikisql = load_dataset("wikisql", trust_remote_code=True)

In [15]:
print({k: len(v) for k, v in wikisql.items()})

{'test': 15878, 'validation': 8421, 'train': 56355}

In [16]:
wikisql_df = {}

for split in ['train', 'validation', 'test']:
    wikisql_df[split] = pd.DataFrame(wikisql[split])
    wikisql_df[split]['annotation'] = wikisql_df[split]['sql'].apply(
        lambda x: 'Lookup' if x['agg'] == 0 else 'Aggregation'
    )

In [17]:
for split in ['train', 'validation', 'test']:
    print(f"[wikisql_df] {split}: \n{wikisql_df[split]['annotation'].value_counts()}")

[wikisql_df] train:
annotation
Lookup         40606
Aggregation    15749
Name: count, dtype: int64
[wikisql_df] validation:
annotation
Lookup         6017
Aggregation    2404
Name: count, dtype: int64
[wikisql_df] test:
annotation
Lookup         11324
Aggregation     4554
Name: count, dtype: int64

4. 개수 차이가 나므로 비율 정해서 언더샘플링

In [18]:
def agg_ratio(df):
    return df['annotation'].value_counts() / df['annotation'].value_counts().sum()

for split in ['train', 'validation', 'test']:
    print(f"[{split}]")
    print(agg_ratio(wikisql_df[split]), end="\n\n")

[train]
annotation
Lookup         0.720539
Aggregation    0.279461
Name: count, dtype: float64

[validation]
annotation
Lookup         0.714523
Aggregation    0.285477
Name: count, dtype: float64

[test]
annotation
Lookup         0.713188
Aggregation    0.286812
Name: count, dtype: float64

In [19]:
def undersample(df, target_col='annotation', target_class='Lookup', target_ratio=0.35, random_state=7):
    # 클래스별로 분리
    majority = df[df[target_col] == target_class]
    others = df[df[target_col] != target_class]

    # 목표 비율에 맞게 클래스 'Lookup'에서 일부만 샘플링
    target_n = int(len(df) * target_ratio)
    #print(f'traget_n :{target_n}')
    sampled_majority = majority.sample(n=target_n, random_state=random_state)

    # 합치기
    balanced_df = pd.concat([sampled_majority, others], axis=0).sample(frac=1, random_state=random_state).reset_index(drop=True) # frac=1 → 전체 행을 다 섞음 (shuffle)
    return balanced_df

In [20]:
wikisql_balanced_df = {}

for split in ['train', 'validation', 'test']:
    wikisql_balanced_df[split] = undersample(wikisql_df[split])

In [21]:
for split in ['train', 'validation', 'test']:
    print(f"[{split}]")
    print(wikisql_balanced_df[split]['annotation'].value_counts().round(2), "\n")

[train]
annotation
Lookup         19724
Aggregation    15749
Name: count, dtype: int64

[validation]
annotation
Lookup         2947
Aggregation    2404
Name: count, dtype: int64

[test]
annotation
Lookup         5557
Aggregation    4554
Name: count, dtype: int64

5. wikisql 데이터와 wikiTableQuestion 데이터 join

In [22]:
print(filtered_under_1024_df['train'].columns)
print(wikisql_balanced_df['train'].columns)

Index(['id', 'question', 'answers', 'table', 'annotation'], dtype='object')
Index(['phase', 'question', 'table', 'sql', 'annotation'], dtype='object')

In [28]:
combined = {}

for split in ['train', 'validation']:
    df1 = filtered_under_1024_df[split][['question', 'table', 'annotation']].copy()
    df2 = wikisql_balanced_df[split][['question', 'table', 'annotation']].copy()
    df3 = filtered_over_1024_df[split][['question', 'table', 'annotation']].copy()

    # 필요하다면 source 구분
    df1['source'] = 'wikitq'
    df2['source'] = 'wikisql'
    df3['source'] = 'wikitq'

    for df in [df1, df2, df3]:
        df['annotation_num'] = df['annotation'].map({'Lookup':0, 'Aggregation':1})

    combined[split] = pd.concat([df1, df2], axis=0).reset_index(drop=True)

In [36]:
for split in ['train', 'validation']:
    combined[split]['header'] = combined[split]['table'].apply(lambda x: x['header'])

In [37]:
for split in ['train', 'validation']:
    file_path = os.path.join(output_dir, f'combined_{split}.json')
    combined[split].to_json(file_path, force_ascii=False, orient='records', indent=2)

In [35]:
# combined = {}

# for split in ['train', 'validation', 'test']:
#     file_path = os.path.join(output_dir, f'combined_{split}.json')
#     with open(file_path, 'r', encoding='utf-8') as f:
#         data = json.load(f)
#         combined[split] = pd.DataFrame(data)

In [38]:
combined['validation']

,question,table,annotation,source,annotation_num,header
0,which team won previous to crettyard?,"{'header': ['Team', 'County', 'Wins', 'Years won'], 'rows': [['Greystones', 'Wicklow', '1', '2011'], ['Ballymore Eustace', 'Kildare', '1', '2010'], ['Maynooth', 'Kildare', '1', '2009'], ['Ballyroan Abbey', 'Laois', '1', '2008'], ['Fingal Ravens', 'Dublin', '1', '2007'], ['Confey', 'Kildare', '1', '2006'], ['Crettyard', 'Laois', '1', '2005'], ['Wolfe Tones', 'Meath', '1', '2004'], ['Dundalk Gaels', 'Louth', '1', '2003']], 'name': 'csv/204-csv/772.tsv'}",Lookup,wikitq,0,"[Team, County, Wins, Years won]"
1,how many more passengers flew to los angeles than to saskatoon from manzanillo airport in 2013?,"{'header': ['Rank', 'City', 'Passengers', 'Ranking', 'Airline'], 'rows': [['1', 'United States, Los Angeles', '14,749', '', 'Alaska Airlines'], ['2', 'United States, Houston', '5,465', '', 'United Express'], ['3', 'Canada, Calgary', '3,761', '', 'Air Transat, WestJet'], ['4', 'Canada, Saskatoon', '2,282', '4', ''], ['5', 'Canada, Vancouver', '2,103', '', 'Air Transat'], ['6', 'United States, Phoenix', '1,829', '1', 'US Airways'], ['7', 'Canada, Toronto', '1,202', '1', 'Air Transat, CanJet'], ['8', 'Canada, Edmonton', '110', '', ''], ['9', 'United States, Oakland', '107', '', '']], 'name': 'csv/203-csv/515.tsv'}",Aggregation,wikitq,1,"[Rank, City, Passengers, Ranking, Airline]"
2,"after winning on four credits with a full house, what is your payout?","{'header': ['Hand', '1 credit', '2 credits', '3 credits', '4 credits', '5 credits'], 'rows': [['Royal flush', '250', '500', '750', '1000', '4000*'], ['Straight flush', '60', '120', '180', '240', '400'], ['Four aces', '400', '800', '1200', '1600', '2000'], ['Four of a kind, 2-4', '100', '200', '300', '400', '500'], ['Four of a kind, 5-K', '50', '100', '150', '200', '250'], ['Full house', '8', '16', '24', '32', '40'], ['Flush', '5', '10', '15', '20', '25'], ['Straight', '4', '8', '12', '16', '20'], ['Three of a kind', '3', '6', '9', '12', '15'], ['Two pair', '1', '2', '3', '4', '5'], ['Jacks or better', '1', '2', '3', '4', '5'], ['Theoretical return', '98.68%', '98.68%', '98.68%', '98.68%', '99.92%*']], 'name': 'csv/203-csv/564.tsv'}",Lookup,wikitq,0,"[Hand, 1 credit, 2 credits, 3 credits, 4 credits, 5 credits]"
3,which players played the same position as ardo kreek?,"{'header': ['No.', 'Player', 'Birth Date', 'Weight', 'Height', 'Position', 'Current Club'], 'rows': [['4', 'Ardo Kreek', 'August 7, 1986 (age 27)', '96', '203', 'Middle blocker', 'Paris Volley'], ['5', 'Kert Toobal', 'June 3, 1979 (age 35)', '78', '189', 'Setter', 'Sivas 4 Eylül'], ['6', 'Martti Juhkami', 'June 6, 1988 (age 26)', '96', '196', 'Spiker', 'TV Bühl'], ['7', 'Argo Meresaar', 'January 13, 1980 (age 34)', '107', '206', 'Opposite', 'Bigbank Tartu'], ['8', 'Kusti Nõlvak', 'November 6, 1991 (age 22)', '81', '186', 'Setter', 'TTÜ VK'], ['9', 'Robert Täht', 'August 15, 1993 (age 20)', '80', '190', 'Spiker', 'Bigbank Tartu'], ['11', 'Oliver Venno', 'May 23, 1990 (age 24)', '105', '210', 'Opposite', 'Rennes Volley 35'], ['14', 'Rait Rikberg', 'August 30, 1982 (age 31)', '80', '174', 'Libero', 'Bigbank Tartu'], ['16', 'Edgar Järvekülg', 'June 12, 1988 (age 26)', '77', '186', 'Libero', 'Pärnu VK'], ['17', 'Siim Ennemuist', 'December 5, 1989 (age 24)', '89', '196', 'Middle blocker', 'TTÜ VK'], ['18', 'Jaanus Nõmmsalu', 'January 19, 1981 (age 33)', '94', '200', 'Spiker', 'TTÜ VK'], ['19', 'Andri Aganits', 'September 7, 1993 (age 20)', '99', '207', 'Middle Blocker', 'TV Bühl']], 'name': 'csv/203-csv/116.tsv'}",Lookup,wikitq,0,"[No., Player, Birth Date, Weight, Height, Position, Current Club]"
4,what was the venue when he placed first?,"{'header': ['Year', 'Competition', 'Venue', 'Position', 'Notes'], 'rows': [['1996', 'World Junior Championships', 'Sydney, Australia', '15th (q)', '7.43 m'], ['1996', 'Asian Junior Championships', 'New Delhi, India', '1st', '7.68 m'], ['1999', 'World Championships', 'Seville, Spain', '6th', '8.01 m'], ['2001', 'East Asian Games', 'Osaka, Japan', '3rd', '7.77 m'], ['2002', 'Asian Championships', 'Colombo, Sri Lanka', '3rd', '7.91 m (w)'], ['2002', 'Asian Games', 'Busan, South Korea', '4th', '7.75 m'], ['2003', 'Universiade', 'Daegu, South Korea', '7th', '7.78 m']], 'name': 'csv/204-csv/706.tsv'}",Lookup,wikitq,0,"[Year, Competition, Venue, Position, Notes]"
...,...,...,...,...,...,...
7613,"How much Gain has a Long of 29, and an Avg/G smaller than 33.7?","{'header': ['Name', 'Gain', 'Loss', 'Long', 'Avg/G'], 'page_title': '2008 Kansas State Wildcats football team', 'page_id': '16404968', 'types': ['text', 'real', 'real', 'real', 'real'], 'id': '2-16404968-31', 'section_title': 'Rushing', 'caption': 'Rushing', 'rows': [['Lamark Brown', '458', '46', '28', '45.8'], ['Josh Freeman', '538', '134', '29', '33.7'], ['Logan Dold', '336', '3', '19', '33.3'], ['Total', '1,839', '249', '93', '132.5'], ['Opponents', '2,894', '282', '69', '217.7']], 'name': ''}",Aggregation,wikisql,1,"[Name, Gain, Loss, Long, Avg/G]"
7614,What is the chapter for Illinois Wesleyan?,"{'header': ['Chapter', 'Installation Date', 'Institution', 'Location', 'Inactive'], 'page_title': '', 'page_id': '', 'types': ['text', 'text', 'text', 'text', 'text'], 'id': '1-21821014-1', 'section_title': '', 'caption': '', 'rows': [['Gamma', 'Cannot handle non-empty timestamp argument! 1930', 'Oregon State University', 'Corvallis, Oregon', '1968'], ['Delta', 'Cannot handle non-empty timestamp argument! 1930', 'Whitman College', 'Walla Walla, Washington', '? (before 1950)'], ['Epsilon', '1931', 'University of New Mexico', 'Albuquerque, New Mexico', '? (evidence of activity in 1951)'], ['Iota', '1935', 'University of California, Berkeley', 'Berkeley, California', '? (evidence of activity in 1949)'], ['Lambda', 'Cannot handle non-empty timestamp argument! 1937', 'University of Arizona', 'Tucson, Arizona', '2000'], ['Nu', 'Cannot handle non-empty timestamp argument! 1939', 'University of California, Santa Barbara', 'Santa Barbara, California', '? (evidence of activity in 1972)'], ['Xi', '1941', 'Illinois Wesleyan', 'Bloomington, Illinois', '? (evidence of activity in 1945)'], ['Rho', 'Cannot handle non-empty timestamp argument! 1942', 'University of Southern California', 'Los Angeles', '? (evidence of activity in 1985)'], ['Sigma', 'Cannot handle non-empty timestamp argument! 1945', 'University of Texas, El Paso', 'El Paso, Texas', '? (evidence of activity in 1968 and 1974)']], 'name': 'table_21821014_1'}",Lookup,wikisql,0,"[Chapter, Installation Date, Institution, Location, Inactive]"
7615,What is the score when the tie is 9?,"{'header': ['Tie no', 'Home team', 'Score', 'Away team', 'Date'], 'page_title': '1980–81 FA Cup', 'page_id': '17751859', 'types': ['text', 'text', 'text', 'text', 'text'], 'id': '2-17751859-4', 'section_title': 'Fourth Round Proper', 'caption': 'Fourth Round Proper', 'rows': [['1', 'Southampton', '3–1', 'Bristol Rovers', '24 January 1981'], ['2', 'Watford', '1–1', 'Wolverhampton Wanderers', '24 January 1981'], ['Replay', 'Wolverhampton Wanderers', '2–1', 'Watford', '27 January 1981'], ['3', 'Leicester City', '1–1', 'Exeter City', '24 January 1981'], ['Replay', 'Exeter City', '3–1', 'Leicester City', '28 January 1981'], ['4', 'Notts County', '0–1', 'Peterborough United', '24 January 1981'], ['5', 'Nottingham Forest', '1–0', 'Manchester United', '24 January 1981'], ['6', 'Middlesbrough', '1–0', 'West Bromwich Albion', '24 January 1981'], ['7', 'Everton', '2–1', 'Liverpool', '24 January 1981'], ['8', 'Shrewsbury Town', '0–0', 'Ipswich Town', '24 January 1981'], ['Replay', 'Ipswich Town', '3–0', 'Shrewsbury Town', '27 January 1981'], ['9', 'Wrexham', '2–1', 'Wimbledon', '24 January 1981'], ['10', 'Newcastle United', '2–1', 'Luton Town', '24 January 1981'], ['11', 'Tottenham Hotspur', '2–0', 'Hull City', '24 January 1981'], ['12', 'Manchester City', '6–0', 'Norwich City', '24 January 1981'], ['13', 'Fulham', '1–2', 'Charlton Athletic', '24 January 1981'], ['14', 'Barnsley', '1–1', 'Enfield', '24 January 1981'], ['Replay', 'Enfield', '0–3', 'Barnsley', '28 January 1981'], ['15', 'Coventry City', '3–2', 'Birmingham City', '24 January 1981'], ['16', 'Carlisle United', '1–1', 'Bristol City', '24 January 1981'], ['Replay', 'Bristol City', '5–0', 'Carlisle United', '28 January 1981']], 'name': ''}",Lookup,wikisql,0,"[Tie no, Home team, Score, Away team, Date]"
7616,Name the D 47 when it has a D 45 of d 32,"{'header': ['D 48', 'D 47', 'D 46', 'D 45', 'D 44', 'D 43', 'D 42', 'D 41'], 'page_title': 'United States Senate elections, 1958', 'page_id': '1178059', 'types': ['text', 'text', 'text', 'text', 'text', 'text', 'text', 'text'], 'id': '2-1178059-1', 'section_title': 'Senate composition before the elections', 'caption': 'Senate composition before the elections', 'rows': [['D 9', 'D 10', 'D 11', 'D 12', 'D 13', 'D 14', 'D 15', 'D 16'], ['D 28', 'D 27', 'D 26', 'D 25', 'D 24', 'D 23', 'D 22', 'D 21'], ['D 29', 'D 30', 'D 31', 'D 32', 'D 33', 'D 34', 'D 35', 'D 36'], ['D 48', 'D 47', 'D 46', 'D 45', 'D 44', 'D 43', 'D 42', 'D 41'], ['D 49', '← Majority', '← Majority', '← Majority', '← Majority', '← Majority', '← Majority', '← Majority'], ['D 49', 'R 47', 'R 46', 'R 45', 'R 44', 'R 43', 'R 42', 'R 41'], ['R 29', 'R 30', 'R 31', 'R 32', 'R 33', 'R 34', 'R 35', 'R 36'], ['R 28', 'R 27', 'R 26', 'R 25', 'R 24', 'R 23', 'R 22', 'R 21'], ['R 9', 'R 10', 'R 11', 'R 12', 'R 13', 'R 14', 'R 15', 'R 16'], ['R 8', 'R 7', 'R 6', 'R 5', 'R 4', 'R 3', 'R 2', 'R 1']], 'name': ''}",Lookup,wikisql,0,"[D 48, D 47, D 46, D 45, D 44, D 43, D 42, D 41]"
7617,"What is the highest Loss, when Long is greater than 0, when Gain is greater than 484, and when Avg/g is greater than 126.4?","{'header': ['Name', 'Gain', 'Loss', 'Long', 'Avg/g'], 'page_title': '2008 East Carolina Pirates football team', 'page_id': '16768514', 'types': ['text', 'real', 'real', 'real', 'real'], 'id': '2-16768514-21', 'section_title': 'Rushing', 'caption': 'Rushing', 'rows': [['Whitley, Norman', '722', '24', '69', '49.9'], ['Simmons, Brandon', '484', '10', '28', '33.9'], ['Williams, Jonathan', '409', '29', '68', '54.3'], ['Rogers, J.R.', '150', '16', '25', '13.4'], ['Harris, Dwayne', '82', '6', '15', '7.6'], ['Pinkney, Patrick', '222', '172', '14', '3.6'], ['Bowman, Michael', '3', '0', '3', '0.6'], ['Gidrey, Kevin', '2', '0', '2', '0.1'], ['Simmons, Jason', '0', '0', '0', '0.0'], ['Ballard, Darnell', '0', '2', '0', '-2.0'], ['Kass, Rob', '36', '38', '20', '-0.3'], ['Sloan, Joe', '0', '6', '0', '-0.4'], ['Freeney, Darryl', '0', '10', '0', '-0.7'], ['Team', '0', '28', '0', '-4.7'], ['Total', '2110', '341', '69', '126.4']], 'name': ''}",Aggregation,wikisql,1,"[Name, Gain, Loss, Long, Avg/g]"

In [39]:
# wikiTQ, sql 데이터 섞기
for split in ['train', 'validation']:
    combined[split] = combined[split].sample(frac=1, random_state=7).reset_index(drop=True)

6. 분류기 생성

In [40]:
from transformers import AutoTokenizer, AutoModelForSequenceClassification
import torch
from easydict import EasyDict
import torch.nn as nn
import torch.nn.functional as F
from datasets import load_dataset
import pandas as pd
from easydict import EasyDict
import gzip
import json
from sklearn.metrics import accuracy_score
import numpy as np
import evaluate
from transformers import Trainer, TrainingArguments
from imblearn.under_sampling import RandomUnderSampler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_validate
import os
from transformers import EarlyStoppingCallback
import random
from torch.utils.data import Dataset
from accelerate import Accelerator
from transformers import DataCollatorWithPadding

In [41]:
from torch import cuda
device = 'cuda' if cuda.is_available() else 'cpu'
device

'cuda'

In [42]:
# 토크나이저를 쉽게 처리하기 위해 json 파일로 저장
def convert_to_jsonl(df, out_path):
    with gzip.open(out_path, 'wt', encoding='utf-8') as f:
        for i in range(len(df)):

            # header안에 리스트인 경우 문자로 변환해서 *로 합쳐줘야함 
            header = df['header'][i]
            if isinstance(header, list):
                header = [str(h) for h in header]
            else:
                header = str(header)

            # 라벨값이 numpy이면 json.dumps가 처리하지 못함
            label = df['annotation_num'][i]
            if isinstance(label, (np.integer, np.int64, np.int32)):
                label = int(label)

            item = {
                'id': i,
                'query': df['question'][i],
                'header': ' * '.join(header),
                'label': label,
                'category' : df['annotation'][i]
            }

            f.write(json.dumps(item) + '\n')

In [43]:
# def preprocess(example):
#     return tokenizer(example['query'], example['header'], 
#                      #return_tensors='pt', 
#                      truncation=True, 
#                      padding='max_length', # 최대길이가 안되면 나머지 0으로 채움
#                      max_length=128) # 문장 최대 길이

def preprocess(example):
    encoding = tokenizer(example['query'], example['header'], truncation=True)
    encoding['labels'] = example['label']
    return  encoding

# def preprocess(example):
#     encoding = tokenizer(example['query'], truncation=True)
#     encoding['labels'] = example['label']
#     return  encoding

In [62]:
output_path = "C:/Users/B6313/BERT-AGG-MODEL/wiki_cls_dataset/"

for split in ['train', 'validation']:
    convert_to_jsonl(combined[split], os.path.join(output_path, f'{split}.jsonl.gz'))

In [64]:
output_path = "C:/Users/B6313/BERT-AGG-MODEL/wiki_cls_dataset/"
file_check = os.path.join(output_path + 'validation.jsonl.gz')
with gzip.open(file_check, 'rt', encoding='utf-8') as f:
    for i, line in enumerate(f):
        print(line)
        if i > 2:
            break

{"id": 0, "query": "in what year only did they compete in division 5", "header": "Year * Division * League * Regular Season * Playoffs * Open Cup", "label": 0, "category": "Lookup"}

{"id": 1, "query": "What's the Finish rank of 31?", "header": "Year * Start * Qual * Rank * Finish * Laps", "label": 0, "category": "Lookup"}

{"id": 2, "query": "Name the date successor seated for pennsylvania 17th", "header": "District * Vacator * Reason for change * Successor * Date successor seated", "label": 0, "category": "Lookup"}

{"id": 3, "query": "What is the dates where Hillcrest Reserve is the home grounds?", "header": "Name * Nickname * First season * Location * Home ground(s) * Coach * Captain", "label": 0, "category": "Lookup"}

In [65]:
dataset = load_dataset('json', data_files={
    'train': os.path.join(output_path, 'train.jsonl.gz'),
    'validation': os.path.join(output_path,'validation.jsonl.gz')
})

Generating train split: 44625 examples [00:00, 872200.86 examples/s]
Generating validation split: 7618 examples [00:00, 708946.26 examples/s]

In [62]:
((44625/8) * 10) * 0.05

2789.0625

In [50]:
dataset['train'][0]

{'id': 0,
 'query': 'name someone else from scotland inducted before alan brazil.',
 'header': 'Season * Level * Name * Position * Nationality * International\\ncaps',
 'label': 0,
 'category': 'Lookup'}

In [66]:
model_path = 'google-bert/bert-base-uncased'
tokenizer = AutoTokenizer.from_pretrained(model_path)
tokenized_dataset = dataset.map(preprocess, batched=True)

Map: 100%|██████████| 44625/44625 [00:01<00:00, 38451.59 examples/s]
Map: 100%|██████████| 7618/7618 [00:00<00:00, 34908.89 examples/s]

In [28]:
print(tokenized_dataset['test'][:20])

{'id': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19], 'query': ['which country had the most cyclists finish within the top 10?', 'how many people were murdered in 1940/41?', 'how long did it take for the new york americans to win the national cup after 1936?', "alfie's birthday party aired on january 19. what was the airdate of the next episode?", 'what is the number of 1st place finishes across all events?', 'in which competition did hopley finish fist?', 'what is the total number of films with the language of kannada listed?', 'what was the number of people attending the toros mexico vs. monterrey flash game?', 'what time period had no shirt sponsor?', 'when was his first 1st place record?', 'does pat or john have the highest total?', 'what is the combined score of year end rankings before 2009?', 'how many more ships were wrecked in lake huron than in erie?', 'what was the total number of points scored by the tide in the last 3 games combined.', 'who came immediately after sebastian porto in the race?', "what's the total number of festivals that occurred in october?", 'what is the total number of skoda cars sold in the year 2005?', 'what was the number of times won on grass?', 'who won the most gold medals?', 'total wins by belgian riders'], 'header': ['Rank * Cyclist * Team * Time * UCI ProTour\\nPoints', 'Description Losses * 1939/40 * 1940/41 * 1941/42 * 1942/43 * 1943/44 * 1944/45 * Total', 'Year * Division * League * Reg. Season * Playoffs * National Cup', 'Series # * Season # * Title * Notes * Original air date', 'Date * Competition * Location * Country * Event * Placing * Rider * Nationality', 'Year * Competition * Venue * Position * Event * Notes', 'Year * Film * Role * Language * Notes', 'Game * Day * Date * Kickoff * Opponent * Results\\nScore * Results\\nRecord * Location * Attendance', 'Year * Kit Manufacturer * Shirt Sponsor * Back of Shirt Sponsor * Short Sponsor', 'Year * Competition * Venue * Position * Event * Notes', 'Name * League * FA Cup * League Cup * JP Trophy * Total', 'Tournament * 2004 * 2005 * 2006 * 2007 * 2008 * 2009 * 2010 * 2011 * 2012 * 2013 * 2014 * W–L', 'Ship * Type of Vessel * Lake * Location * Lives lost', 'Date * Opponent# * Rank# * Site * TV * Result * Attendance', 'Pos * Rider * Manufacturer * Time/Retired * Points', 'Date * Festival * Location * Awards * Link', 'Model * 1991 * 1995 * 1996 * 1997 * 1998 * 1999 * 2000 * 2001 * 2002 * 2003 * 2004 * 2005 * 2006 * 2007 * 2008 * 2009 * 2010 * 2011 * 2012 * 2013', 'Outcome * No. * Date * Championship * Surface * Opponent in the final * Score in the final', 'Rank * Nation * Gold * Silver * Bronze * Total', 'Place * Rider * Country * Team * Points * Wins'], 'label': [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1], 'category': ['Lookup', 'Aggregation', 'Aggregation', 'Lookup', 'Lookup', 'Lookup', 'Lookup', 'Lookup', 'Lookup', 'Lookup', 'Aggregation', 'Lookup', 'Aggregation', 'Lookup', 'Lookup', 'Lookup', 'Lookup', 'Lookup', 'Lookup', 'Aggregation'], 'input_ids': [[101, 2029, 2406, 2018, 1996, 2087, 21912, 3926, 2306, 1996, 2327, 2184, 1029, 102], [101, 2129, 2116, 2111, 2020, 7129, 1999, 3878, 1013, 4601, 1029, 102], [101, 2129, 2146, 2106, 2009, 2202, 2005, 1996, 2047, 2259, 4841, 2000, 2663, 1996, 2120, 2452, 2044, 4266, 1029, 102], [101, 24493, 2666, 1005, 1055, 5798, 2283, 4836, 2006, 2254, 2539, 1012, 2054, 2001, 1996, 2250, 13701, 1997, 1996, 2279, 2792, 1029, 102], [101, 2054, 2003, 1996, 2193, 1997, 3083, 2173, 12321, 2408, 2035, 2824, 1029, 102], [101, 1999, 2029, 2971, 2106, 6154, 3051, 3926, 7345, 1029, 102], [101, 2054, 2003, 1996, 2561, 2193, 1997, 3152, 2007, 1996, 2653, 1997, 13873, 3205, 1029, 102], [101, 2054, 2001, 1996, 2193, 1997, 2111, 7052, 1996, 23790, 2015, 3290, 5443, 1012, 26843, 5956, 2208, 1029, 102], [101, 2054, 2051, 2558, 2018, 2053, 3797, 10460, 1029, 102], [101, 2043, 2001, 2010, 2034, 3083, 2173, 2501, 1029, 102], [101, 2515, 6986, 2030, 2198, 2031, 1996, 3284, 2561, 1029, 102], [101, 2054, 2003, 1996, 4117, 3556, 1997, 2095, 2203, 10385, 2077, 2268, 1029, 102], [101, 2129, 2116, 2062, 3719, 2020, 18480, 1999, 2697, 21899, 2084, 1999, 13374, 1029, 102], [101, 2054, 2001, 1996, 2561, 2193, 1997, 2685, 3195, 2011, 1996, 10401, 1999, 1996, 2197, 1017, 2399, 4117, 1012, 102], [101, 2040, 2234, 3202, 2044, 6417, 13809, 1999, 1996, 2679, 1029, 102], [101, 2054, 1005, 1055, 1996, 2561, 2193, 1997, 7519, 2008, 4158, 1999, 2255, 1029, 102], [101, 2054, 2003, 1996, 2561, 2193, 1997, 15315, 13390, 3765, 2853, 1999, 1996, 2095, 2384, 1029, 102], [101, 2054, 2001, 1996, 2193, 1997, 2335, 2180, 2006, 5568, 1029, 102], [101, 2040, 2180, 1996, 2087, 2751, 6665, 1029, 102], [101, 2561, 5222, 2011, 6995, 8195, 102]], 'token_type_ids': [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0]], 'attention_mask': [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1]], 'labels': [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1]}

In [67]:
data_collator = DataCollatorWithPadding(tokenizer=tokenizer)

In [68]:
labels = ["Lookup", "Aggregation"]
Num_labels = len(labels)
id2label = {id:label for id, label in enumerate(labels)}
label2id = {label:id for id, label in enumerate(labels)}

In [69]:
id2label

{0: 'Lookup', 1: 'Aggregation'}

In [70]:
label2id

{'Lookup': 0, 'Aggregation': 1}

In [71]:
model = AutoModelForSequenceClassification.from_pretrained(
    model_path, num_labels=2, id2label=id2label, label2id=label2id
)

model.to(device)

Some weights of BertForSequenceClassification were not initialized from the model checkpoint at google-bert/bert-base-uncased and are newly initialized: ['classifier.bias', 'classifier.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

BertForSequenceClassification(
  (bert): BertModel(
    (embeddings): BertEmbeddings(
      (word_embeddings): Embedding(30522, 768, padding_idx=0)
      (position_embeddings): Embedding(512, 768)
      (token_type_embeddings): Embedding(2, 768)
      (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
      (dropout): Dropout(p=0.1, inplace=False)
    )
    (encoder): BertEncoder(
      (layer): ModuleList(
        (0-11): 12 x BertLayer(
          (attention): BertAttention(
            (self): BertSdpaSelfAttention(
              (query): Linear(in_features=768, out_features=768, bias=True)
              (key): Linear(in_features=768, out_features=768, bias=True)
              (value): Linear(in_features=768, out_features=768, bias=True)
              (dropout): Dropout(p=0.1, inplace=False)
            )
            (output): BertSelfOutput(
              (dense): Linear(in_features=768, out_features=768, bias=True)
              (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
              (dropout): Dropout(p=0.1, inplace=False)
            )
          )
          (intermediate): BertIntermediate(
            (dense): Linear(in_features=768, out_features=3072, bias=True)
            (intermediate_act_fn): GELUActivation()
          )
          (output): BertOutput(
            (dense): Linear(in_features=3072, out_features=768, bias=True)
            (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
            (dropout): Dropout(p=0.1, inplace=False)
          )
        )
      )
    )
    (pooler): BertPooler(
      (dense): Linear(in_features=768, out_features=768, bias=True)
      (activation): Tanh()
    )
  )
  (dropout): Dropout(p=0.1, inplace=False)
  (classifier): Linear(in_features=768, out_features=2, bias=True)
)

In [72]:
# load metrics
accuracy = evaluate.load("accuracy")
f1_score = evaluate.load("f1")

def compute_metrics(eval_pred):
    # eval_pred = (predictions, labels)
    predictions, labels = eval_pred

    # 다중분류
    # 특정 i라벨의 확률 = 특정 i 라벨의 승산/모든 라벨의 승산 
    # predictions = [batch_size, num_labels]
    #probabilities = np.exp(predictions) / np.exp(predictions).sum(-1, keepdims=True)

    #positive_class_probs = probabilities[:, 1] # 클래스 1일 확률 

    # compute auc
    #auc = np.round(auc_score.compute(prediction_scores=positive_class_probs,
    #                reference=labels)['roc_auc'],3)

    # 가장 로짓이 큰 라벨 추출
    predicted_classes = np.argmax(predictions, axis=1)

    # compute accuracy
    acc = np.round(accuracy.compute(predictions=predicted_classes, 
                                     references=labels)['accuracy'],3)
    
    f1 = np.round(f1_score.compute(predictions=predicted_classes, references=labels, average='macro')['f1'], 3) #  라벨별 f1-score를 산술평균한 것 : 현재 라벨의 갯수가 같아서 이렇게 써도 된다고 판단
    
    return {"Accuracy": acc, "f1": f1}

In [73]:
#hyperparameters
lr = 2e-5
num_epochs = 10

training_args = TrainingArguments(
    output_dir='C:/Users/B6313/BERT-AGG-MODEL/bert-agg-NEW',
    do_train=True,
    do_eval=True,
    per_device_train_batch_size=8,
    per_device_eval_batch_size=16,
    num_train_epochs=num_epochs,
    warmup_steps=2800,                
    weight_decay=0.01,
    #logging_strategy="epoch",
    logging_strategy="steps",
    logging_steps=2800,
    logging_dir="C:/Users/B6313/BERT-AGG-MODEL/logs",
    eval_strategy="epoch",
    save_strategy="epoch",
    save_total_limit=1,
    load_best_model_at_end=True,
    report_to='none',
    fp16=True,
    #metric_for_best_model="f1",
    dataloader_num_workers=4,
)

In [74]:
trainer = Trainer(
    model=model,
    args=training_args,
    train_dataset=tokenized_dataset['train'],
    eval_dataset=tokenized_dataset['validation'],
    tokenizer=tokenizer,
    data_collator = data_collator,
    compute_metrics=compute_metrics
)

trainer.train()

C:\Users\B6313\AppData\Local\Temp\ipykernel_6640\4180147362.py:1: FutureWarning: `tokenizer` is deprecated and will be removed in version 5.0.0 for `Trainer.__init__`. Use `processing_class` instead.
  trainer = Trainer(

TrainOutput(global_step=55790, training_loss=0.5202483972227046, metrics={'train_runtime': 2967.8325, 'train_samples_per_second': 150.362, 'train_steps_per_second': 18.798, 'total_flos': 1.240256849699574e+16, 'train_loss': 0.5202483972227046, 'epoch': 10.0})

In [ ]:
preds = trainer.predict(tokenized_dataset['test'])

logits = preds.predictions
labels = pred.label_ids

metrics = compute_metrics((logits, labels))
print(metrics)